.main-container{
	
	min-height:400px;
	width: 50%;
	margin: auto;
	margin-top: 30px;
	display:block;
}
.name-section{
	
	min-height: 60px;
	justify-content:center;
	
	
	
}
.search-section{

	height:150px;
	justify-content:space-between;
	align-items: center;
	
}
.weekly-section{
	
	height:5cm
	
}
.img-container{
	width:100%;
	max-height:5cm;
}

h4{
	margin-right: 8px;
}

@media (max-width:850px){
	.main-container{width:65%}
}
@media(max-width:650px){
	.main-container{width:100%}
}